*.suo
*.user
bin
obj
/Kintai/Config/AppSettings.config
/Kintai/Config/ConnectionStrings.config
/Kintai/Config/WorkReport.xlsx
/Kintai/Config/WorkReportSample.xlsx
/Kintai/Kintai.Publish.xml
/Kintai/Export/*
