USE [master]
GO
CREATE DATABASE [Kintai]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Kintai', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Kintai.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Kintai_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Kintai_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Kintai].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Kintai]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkTime](
	[UserId] [nvarchar](36) NOT NULL,
	[WorkDate] [datetime] NOT NULL,
	[WorkType] [int] NULL,
	[BeginTime] [int] NULL,
	[EndTime] [int] NULL,
	[RestTime] [int] NULL,
	[OfficeTime] [int] NULL,
	[WorkTime] [int] NULL,
	[WorkDetail] [ntext] NULL,
	[CreateTimestamp] [datetime] NULL,
	[CreateUserId] [nvarchar](36) NULL,
	[UpdateTimestamp] [datetime] NULL,
	[UpdateUserId] [nvarchar](36) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[WorkDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
