<?xml version="1.0"?>

<appSettings>
  <add key="MailSmtpHost" value="smtp.gmail.com" />
  <add key="MailSmtpPort" value="25" />
  <add key="MailSmtpSsl" value="1" />
  <add key="MailSmtpUser" value="gmail_user" />
  <add key="MailSmtpPassword" value="gmail_password" />

  <add key="MailDefaultFromAddress" value="gmail_test_kintai@gmail.com" />
  <add key="MailForceFromAddress" value="gmail_test_kintai@gmail.com" />
  <add key="MailReportAddress" value="gmail_test_kintai@gmail.com" />
</appSettings>

