<?xml version="1.0"?>

<connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=localhost\SQLExpress;Integrated Security=SSPI;Initial Catalog=aspnetdb"
         providerName="System.Data.SqlClient" />
    <add name="ProjectServices"
         connectionString="data source=localhost\SQLExpress;Integrated Security=SSPI;Initial Catalog=Kintai"
         providerName="System.Data.SqlClient" />
<!--
    <add name="ApplicationServices"
         connectionString="data source=localhost\SQLExpress;user id=sa;password=password;Initial Catalog=aspnetdb"
         providerName="System.Data.SqlClient" />
    <add name="ProjectServices"
         connectionString="data source=localhost\SQLExpress;user id=sa;password=password;Initial Catalog=Kintai"
         providerName="System.Data.SqlClient" />
-->
</connectionStrings>

